*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    background-image: url(img/16660.png);
    max-width: 1080px;
    margin: auto;
    background-color: #0796C0;
    padding: 40px 0;
    margin-top: 20px;
    border-radius: 20px;
}
#title{
    font-family: 'Bangers', cursive;
    text-align: center;
    font-size: 50px;
    color: #FDB814;
    text-shadow: -1px 0 #F04D23, 0 4px #F04D23, 4px 0 #F04D23, 0 -1px #F04D23;
}

.img-container{
    width: 60%;
    margin: 60px auto 20px;
    background-color: #63acc2;
    border-radius: 20px;
}

.img-container img{
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.container{
    width: 80%;
    margin: auto;
    background-color:  #63acc2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}


h1{
    font-family: 'Allan', cursive;
    color: #11294C;
}